.navbarr {

    .container {
        
    width: 300px;
    height: 150px;

    position: absolute;
    top: 0;
    left: 2%;
        border-radius: 5px;
        .adminContainer {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 10px 0;
            border-radius: 5px;
            span {
                font-size: 2em;
                color: white;
            }
            img {
            width: 40px;
                height: 40px;
            }
        }
    }

    ul {
        margin-top: 30px;
        li {
            &.activate {
                box-shadow: 0 0 15px #371ba9a2;
            }
            &.notActivate {
                border: 5px solid rgba(31, 178, 191, 0.752)
            }
            list-style-type: none;
        text-align: center;
        padding: 10px 5px;
            border: 2px solid;
        margin: 10px 25px;

            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            border: none;
            background-color: #371ba917;
            border-radius: 15px;
            
            span {

                color: #371ba9;
                font-weight: 500;
                margin-left: 10px;
            }
            img {
                width: 25px;
                height: 25px;
            }
        }
    }
}