<section class="editReclatmationContainer">
    <header>
        <p>


            Tous les recents livraisons
        </p>
    </header>
    <main>
        <div class="btnTraiterNonTraiterContainer">
            <button class="traiterBTN" (click)="setTraiterView()">
                livraison traiter

            </button>
            <button class="nonTraiterBTN" (click)="setNTraiterView()">
                en cours
            
            </button>
        </div>
        <header>
            <p>date</p>
            <p>nom produit</p>
            <p>nom l'acheteur</p>
            <p>email l'acheteur</p>
            <p>tel l'acheteur</p>
            <p>nom livreur</p>
            <p>email livreur</p>
            <p>tel livreur</p>
        </header>
        <div class="alldelivrationData" [ngClass]="{'nonTraiterViewTransition': !tnt, 'traiterViewTransition': tnt}">
            
            <ng-container *ngIf="popUpView" >
                <div class="popUpContainer">
                    <div class="notification" [ngClass]="{'showNot' : isNot}">
                        livraison confirmeé !
                      </div>
                    <section>
                        
                        <main>
                            <div class="inputContainer" >
                                <input type="text" placeholder="user" value={{popUpViewData.date}} readonly>
                        <input type="text" placeholder="description" value={{popUpViewData.description}} readonly>
                        <input type="text" placeholder="etat" value={{popUpViewData.etat}} readonly>
                        <input type="text" placeholder="reference" value={{popUpViewData.produit.prix}}DT readonly>
                            </div> 
                            <div class="textareaContainer">
    
                        <textarea value={{popUpViewData.produit.delivration}} #descript (keyup)="insetDes(descript.value)" placeholder="creér message" cols="30" rows="10"></textarea>                    
                            </div>
                        </main>
                        <footer>
                            <button (click)="showPassDataView(popUpViewData)">
                                fermer
                            </button>
                            <button *ngIf="!tnt" (click)="setConfirmedEtat(popUpViewData)">
                                confirmer
                            </button>
                        </footer>
                    </section>
                </div>
            </ng-container>
            <div class="delivrationInfo" *ngFor="let ri of delivration " [ngClass]="{'traiter': tnt, 'nonTraiter': !tnt}">
                <button  type="button" >
                    <img *ngIf="!tnt" (click)="showPassDataView(ri)" src="/assets/check-mark.png" alt="edit">
                    <img *ngIf="!tnt" (click)="deleteLiv(ri.idRec)" src="/assets/trash.png" alt="edit">
                    
                </button>
                <p>{{ ri.date }}</p>
                <p>{{ ri.produit.nom }}</p>
                <p>{{ ri.acheteur.nomUser }}</p>
                <p>{{ ri.acheteur.emailUser }}</p>
                <p>{{ ri.acheteur.numTel }}</p>
                <p>{{ ri.livreur.nomUser }}</p>
                <p>{{ ri.livreur.emailUser }}</p>
                <p>{{ ri.livreur.numTel }}</p>

            </div>
        </div>
    </main>
</section>